body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

nav {
    background-image: url('skola.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

